:root {
    --primary-text-color: #FFFFFF33;
    --secondary-text-color: #DC56C5;
    --primary-background-color:  #212121;
    --secondary-input-color: #a19f9f;
    --primary-part-color: #FFFFFF; 
}
