.logo_style{
  backdrop-filter: blur(15px);
  background: linear-gradient(136deg, #c4c4c408 10.75%, #c4c4c400 92.33%);
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 477px;

  @media screen and (min-width: 320px) {
    width: 100px;
    height: 80px;

  }

  @media screen and (min-width: 768px) {
    width: 190px;
    height: 160px;
  }
    
  @media screen and (min-width: 1280px) {
    width: 300px;
    height: 260px;
  }
}

.symbol___style{
  @media screen and (min-width: 320px) {
    width: 10px;
    height: 10px;
   
  }

  @media screen and (min-width: 768px) {
    width: 16.582px;
    height: 19.82px;
  }
    
  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
  }
}

.svg__symbol__section{
    margin-bottom: 5px;
    position: absolute;
    fill: white;

    @media screen and (min-width: 320px) {
      margin-top: 105px;
      margin-left: -20px;
   
     }
   
     @media screen and (min-width: 768px) {
      margin-top: 125px;
      margin-left: 0px;
     }
       
     @media screen and (min-width: 1280px) {
      margin-top: -165px;
      margin-left: auto;
     }
  
}

.svg__symbol__section-two{
  position: absolute;
  display: flex;
  fill: white;

  @media screen and (min-width: 320px) {
    margin-top: 125px;
    margin-left: -20px;
 
   }
 
   @media screen and (min-width: 768px) {
    margin-top: 155px;
    margin-left: 0px;
   }
     
   @media screen and (min-width: 1280px) {
    margin-top: -120px;
    margin-left: auto;
   }
}


.title{
color: var(--secondary-text-color);
margin-right: auto;
font-weight: 900;
text-align: center;
max-width: 600px;


@media screen and (min-width: 320px) {
font-size: 18px;
margin-top: 165px;
margin-left: -9px;
}

@media screen and (min-width: 768px) {
  font-size: 30px;
  width: 400px;
  margin-left: auto;
  line-height: normal;
  

}

@media screen and (min-width: 1280px) {
  font-size: 50px;
  margin-top: -70px;
  margin-left: auto;
  line-height: 60.95px;
  width: unset;
}
}


.search{
  border: none;
  border-radius: 20px 20px 20px 20px;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(10px);

  @media screen and (min-width: 320px) {
    width: 270px;
    height: 40px;
    margin-top: 25px;
      margin-left: -10px;
      }
      
      @media screen and (min-width: 768px) {
        
      }
      
      @media screen and (min-width: 1280px) {
        width: 295px;
        height: 45px;
        margin-top: unset;
        margin-left: unset;

      }
}

.input_place{
  @media screen and (min-width: 320px) {
      position: absolute;

      }
      
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        gap: 30px;
        position: static;
      }
      
      @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 105px;
        position: static;
      }
}

input::placeholder {
  color: var(--secondary-input-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  padding-left: 30px;
  
  }

.hero {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/music-picture.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 27px;

    @media screen and (min-width: 320px) {
    padding-top: 180px;
    padding-bottom: 430px;
    margin-top: -280px;
      
      }
      
      @media screen and (min-width: 768px) {
        
      }
      
      @media screen and (min-width: 1280px) {
        padding-top: 200px;
        padding-bottom: 340px;
        margin-top: auto;
      }

}


.search_icon {
  z-index: 1;
  fill: #939393;
  margin-top: -53px;
  margin-left: -98px;
  position: absolute;

  @media screen and (min-width: 320px) {
    margin-top: -30px;
    margin-left: 220px;
    width: 12px;
      
      }
      
      @media screen and (min-width: 768px) {
        margin-left: -98px;
        width: 15px;
      }
      
      @media screen and (min-width: 1280px) {
        margin-top: -53px;
        margin-left: -98px;
        width: 15px;
      }
}


.search_icon-two {
  z-index: 1;
  fill: #939393;
  position: absolute;

  @media screen and (min-width: 320px) {
     width: 12px;
     margin-top: 36px;
    margin-left: -38px;
      
      }
      
      @media screen and (min-width: 768px) {
        width: 15px;
        margin-top: -29px;
        margin-left: 485px;
      }
      
      @media screen and (min-width: 1280px) {
        margin-top: -53px;
        margin-left: 526px;
        width: 15px;
      }
}