.logo_style{
  width: 300px;
  height: 300px;
  backdrop-filter: blur(15px);
  background: linear-gradient(136deg, #c4c4c408 10.75%, #c4c4c400 92.33%);
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 477px;
}

.symbol___style{
  width: 30px;
  height: 30px;
}

.svg__symbol__section{
    margin-top: -165px;
    margin-bottom: 5px;
    position: absolute;
    fill: white;
  
}

.svg__symbol__section-two{
  position: absolute;
  margin-top: -120px;
  display: flex;
  fill: white;
}


.title{
color: var(--secondary-text-color);
margin-left: auto;
margin-right: auto;
font-size: 50px;
font-weight: 900;
line-height: 60.95px;
text-align: center;
max-width: 600px;
margin-top: -70px;
}

input::placeholder {
color: var(--secondary-input-color);
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
padding-left: 30px;

}

.search{
  border: none;
  width: 295px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(10px);
}

.input_place{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 105px;
}

.hero {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/music-picture.jpg); 
  padding-top: 200px;
  padding-bottom: 340px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 27px;
}

.search_icon {
  z-index: 1;
  width: 15px;
  fill: #939393;
  margin-top: -53px;
  margin-left: -98px;
  position: absolute;
}


.search_icon-two {
  z-index: 1;
  width: 15px;
  fill: #939393;
  position: absolute;
  margin-top: -53px;
  margin-left: 526px;
}