.section-position {
  display: grid;
  justify-items: center; 
  @media screen and (min-width: 320px) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -260px;
      }
      
      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        margin-top: -350px;
      }
      
      @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(4, 1fr);
        padding-left: 390px;
        padding-right: 390px;
        margin-top: -150px;
      }

}

.item {
  position: relative;
  margin-top: 60px; 

  @media screen and (min-width: 320px) {
    padding: 0 11.5px;

      }

      @media screen and (min-width: 768px) {
        padding: 0 30.5px;

      }
      
      @media screen and (min-width: 1280px) {
        padding: 0 50.5px;
      }
}



.picture__body {
  border-radius: 50px 0px 50px 0px;

  @media screen and (min-width: 320px) {
    width: 128px;
    height: 161px;
      
      }
      
      @media screen and (min-width: 768px) {
        width: 180px;
        height: 227px;
      }
      
      @media screen and (min-width: 1280px) {
        width: 180px;
        height: 227px;
      }
}

.picture___title {
  margin-top: -1px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: center;
  color: var(--secondary-text-color);
}

.picture____text {
  margin-top: -10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  color: var(--primary-part-color);
}

.picture_____text-two {
  margin-top: -10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: center;
  color: var(--primary-part-color);
}

.location-icon {
  width: 7px;
  margin-top: -77px;
  position: absolute;

  @media screen and (min-width: 320px) {
    margin-left: -3px;
      
      }
      
      @media screen and (min-width: 768px) {
        margin-left: 22px;
      }
      
      @media screen and (min-width: 1280px) {
        margin-left: 22px;
      }

}

.location-icon-two {
  width: 7px;
  margin-top: -77px;
  position: absolute;

  @media screen and (min-width: 320px) {
    margin-left: 35px;
      
      }
      
      @media screen and (min-width: 768px) {
        margin-left: 59px;
      }
      
      @media screen and (min-width: 1280px) {
        margin-left: 59px;
      }
}


#load-more-btn {
  background: rgba(255, 255, 255, 0.20);
  border: none;
  width: 185px;
  height: 40px;
  border-radius: 17px;
  cursor: pointer;
  margin: 15px 0;
  margin-right: -835px;
  color: var(--secondary-input-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  transition: transform 0.3s ease, background-color 0.3s ease;

  @media screen and (min-width: 320px) {
    display: none;
      
      }
      
      @media screen and (min-width: 768px) {
        display: none;
      }
      
      @media screen and (min-width: 1280px) {
        margin-right: -835px;
        display: block;
      }
}

#load-more-btn:hover {
  background-color: #ffffff;
  transform:  scale(1.1);
}


.event-container{
  display: contents;
}
