.background {
    background-color: #0a0909;
    font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%; 
  margin-left: auto; 
  margin-right: auto; 
  padding-left: 27px;
  box-sizing: border-box;
  }