<body class="background">
  <header class="container hero">
    <div class="logo_style"></div>
    <div class="svg__symbol__section">
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-1"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-2"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-1"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-4"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-5"></use>
    </svg>
  </div>
    <div class="svg__symbol__section-two">
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-6"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-7"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-8"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-9"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-5"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-1"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-10"></use>
    </svg>
  </div>
      <h1 class="title"> FIND BEST EVENTS 
      AROUND THE WORLD</h1>
      <nav class="input_place">
        <svg class="search_icon"> 
          <use href="./svg/symbol-defs.svg#icon-search-icon"></use>
        </svg>
          <input type="search" placeholder="Start searching" class="search">
          <svg class="search_icon-two"> 
            <use href="./svg/symbol-defs.svg#icon-Polygon-1"></use>
          </svg>
          <input type="search" placeholder="Choose country" class="search">
          <button class="button-form" type="button" data-action="open-modal">Send</button>
      </nav>
  </header>

  <div class="js-backdrop modal-backdrop">
    <div class="modal">
        <button type="button" data-action="close-modal" class="modal-close-btn">X</button>
        <img class="img-modal-title" src="./images/rectangle-8.jpg" alt="">
        <img class="img-modal" src="./images/pic.jpg" alt="">

        <h1 class="title_modal">INFO</h1>
        <p class="text__modal">Atlas Weekend is the largest music festival
          in Ukraine.More than 200 artists will create
          a proper music festival atmosphere on 10 stages</p>

        <h2 class="title_modal">WHEN</h2>
        <p class="text__modal">2021-06-09
          20:00 (Kyiv/Ukraine)
        </p>
        <h3 class="title_modal">WHERE</h3>
        <p class="text__modal">Kyiv, Ukraine VDNH</p>

        <h4 class="title_modal">WHO</h4>
        <p class="text__modal">The Black Eyed Peas</p>

        <h5 class="title_modal">PRICES</h5>
        <p class="text__modal">Standart 300-500 UAH</p>

        <button class="button___form">BUY TICKETS</button>
        <p class="text__modal">VIP 1000-1500 UAH</p>

        <button class="button___form">BUY TICKETS</button>
        <button class="button____modal">MORE FROM THIS AUTHOR</button>

    </div>
</div>

  <main class="container section-position">
    <div class="item item-1">
        <picture>
            <img class="picture__body" src="./images/euroision.jpg" alt="">
        </picture>
        <h2 class="picture___title">Eurovision 2021 finals!</h2>
        <p class="picture____text">2021-05-13</p>
        <svg class="location-icon">
            <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
        </svg>
        <p class="picture_____text-two">Palace of Ukraine</p>
    </div>
    <div class="item">
        <picture>
            <img class="picture__body" src="./images/blackeyedpeas.jpg" alt="">
        </picture>
        <h2 class="picture___title">Atlas Weekend</h2>
        <p class="picture____text">2021-06-09</p>
        <svg class="location-icon-two">
            <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
        </svg>
        <p class="picture_____text-two">VDNH</p>
    </div>
    <div class="item">
        <picture>
            <img class="picture__body" src="./images/lp.jpg" alt="">
        </picture>
        <h2 class="picture___title">LP</h2>
        <p class="picture____text">2021-07-27</p>
        <svg class="location-icon">
            <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
        </svg>
        <p class="picture_____text-two">Palace of Ukraine</p>
    </div>
    <div class="item">
        <picture>
            <img class="picture__body" src="./images/monatik.jpg" alt="">
        </picture>
        <h2 class="picture___title">MONATIK</h2>
        <p class="picture____text">2021-07-17</p>
        <svg class="location-icon-two">
            <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
        </svg>
        <p class="picture_____text-two">VDNH</p>
    </div>

    <div class="item">
      <picture>
          <img class="picture__body" src="./images/euroision.jpg" alt="">
      </picture>
      <h2 class="picture___title">Eurovision 2021 finals!</h2>
      <p class="picture____text">2021-05-13</p>
      <svg class="location-icon">
          <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
      </svg>
      <p class="picture_____text-two">Palace of Ukraine</p>
  </div>
  <div class="item">
      <picture>
          <img class="picture__body" src="./images/blackeyedpeas.jpg" alt="">
      </picture>
      <h2 class="picture___title">Atlas Weekend</h2>
      <p class="picture____text">2021-06-09</p>
      <svg class="location-icon-two">
          <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
      </svg>
      <p class="picture_____text-two">VDNH</p>
  </div>
  <div class="item">
      <picture>
          <img class="picture__body" src="./images/lp.jpg" alt="">
      </picture>
      <h2 class="picture___title">LP</h2>
      <p class="picture____text">2021-07-27</p>
      <svg class="location-icon">
          <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
      </svg>
      <p class="picture_____text-two">Palace of Ukraine</p>
  </div>
  <div class="item">
      <picture>
          <img class="picture__body" src="./images/monatik.jpg" alt="">
      </picture>
      <h2 class="picture___title">MONATIK</h2>
      <p class="picture____text">2021-07-17</p>
      <svg class="location-icon-two">
          <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
      </svg>
      <p class="picture_____text-two">VDNH</p>
  </div>

  <div class="item">
    <picture>
        <img class="picture__body" src="./images/euroision.jpg" alt="">
    </picture>
    <h2 class="picture___title">Eurovision 2021 finals!</h2>
    <p class="picture____text">2021-05-13</p>
    <svg class="location-icon">
        <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
    </svg>
    <p class="picture_____text-two">Palace of Ukraine</p>
</div>
<div class="item">
    <picture>
        <img class="picture__body" src="./images/blackeyedpeas.jpg" alt="">
    </picture>
    <h2 class="picture___title">Atlas Weekend</h2>
    <p class="picture____text">2021-06-09</p>
    <svg class="location-icon-two">
        <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
    </svg>
    <p class="picture_____text-two">VDNH</p>
</div>
<div class="item">
    <picture>
        <img class="picture__body" src="./images/lp.jpg" alt="">
    </picture>
    <h2 class="picture___title">LP</h2>
    <p class="picture____text">2021-07-27</p>
    <svg class="location-icon">
        <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
    </svg>
    <p class="picture_____text-two">Palace of Ukraine</p>
</div>
<div class="item">
    <picture>
        <img class="picture__body" src="./images/monatik.jpg" alt="">
    </picture>
    <h2 class="picture___title">MONATIK</h2>
    <p class="picture____text">2021-07-17</p>
    <svg class="location-icon-two">
        <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
    </svg>
    <p class="picture_____text-two">VDNH</p>
</div>

<div class="item">
  <picture>
      <img class="picture__body" src="./images/euroision.jpg" alt="">
  </picture>
  <h2 class="picture___title">Eurovision 2021 finals!</h2>
  <p class="picture____text">2021-05-13</p>
  <svg class="location-icon">
      <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
  </svg>
  <p class="picture_____text-two">Palace of Ukraine</p>
</div>
<div class="item">
  <picture>
      <img class="picture__body" src="./images/blackeyedpeas.jpg" alt="">
  </picture>
  <h2 class="picture___title">Atlas Weekend</h2>
  <p class="picture____text">2021-06-09</p>
  <svg class="location-icon-two">
      <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
  </svg>
  <p class="picture_____text-two">VDNH</p>
</div>
<div class="item">
  <picture>
      <img class="picture__body" src="./images/lp.jpg" alt="">
  </picture>
  <h2 class="picture___title">LP</h2>
  <p class="picture____text">2021-07-27</p>
  <svg class="location-icon">
      <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
  </svg>
  <p class="picture_____text-two">Palace of Ukraine</p>
</div>
<div class="item">
  <picture>
      <img class="picture__body" src="./images/monatik.jpg" alt="">
  </picture>
  <h2 class="picture___title">MONATIK</h2>
  <p class="picture____text">2021-07-17</p>
  <svg class="location-icon-two">
      <use href="./svg/symbol-defs1.svg#icon-vector-11"></use>
  </svg>
  <p class="picture_____text-two">VDNH</p>
</div>
</main>
  <footer class="footer_section container">
      <p class="footer_down_text">© 2021 | All Rights Reserved | Developed with ♥ by GoIT Students</p>
  </footer>
</body>
