<body class="background">
  <header class="container hero">
    <svg class="logo_style"> 
      <use></use>
    </svg>

    <div class="svg__symbol__section">
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-1"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-2"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-1"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-4"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-5"></use>
    </svg>
  </div>

    <div class="svg__symbol__section-two">

  
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-6"></use>
    </svg>
  


    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-7"></use>
    </svg>

    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-8"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-9"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-5"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-1"></use>
    </svg>
    <svg class="symbol___style"> 
      <use href="./svg/symbol-defs.svg#icon-Vector-10"></use>
    </svg>
  </div>
  

      <h1 class="title"> FIND BEST EVENTS 
      AROUND THE WORLD</h1>
      <svg class=""> 
        <use></use>
      </svg>
      <svg class="search_icon"> 
        <use href="./svg/symbol-defs.svg#icon-search-icon"></use>
      </svg>
      <svg class="search_icon-two"> 
        <use href="./svg/symbol-defs.svg#icon-Polygon-1"></use>
      </svg>
      <nav class="input_place">
          <input type="search" placeholder="Start searching" class="search">
          <input type="search" placeholder="Choose country" class="search">
      </nav>
  </header>
  <main class="container section-position">
      <div class="picture_head">
         <picture>

           <img class="picture__body" src="./images/euroision.jpg" alt="">
         </picture>
          <h2 class="picture___title">Eurovision 2021 finals!</h2>
          <p class="picture____text">2021-05-13</p>
          <p class="picture_____text-two">Palace of Ukraine</p>
        </div>

      <div class="">
        <picture>

          <img class="picture__body" src="./images/blackeyedpeas.jpg" alt="">
        </picture>
          <h2 class="picture___title">Atlas Weekend</h2>
          <p class="picture____text">2021-06-09</p>
          <p class="picture_____text-two">VDNH</p>
        </div>

        <div class="">
          <picture>

            <img class="picture__body" src="./images/lp.jpg" alt="">
          </picture>
          <h2 class="picture___title">LP</h2>
          <p class="picture____text">2021-07-27</p>
          <p class="picture_____text-two">Palace of Ukraine</p>
        </div>
      <div class="">
        <picture>

          <img class="picture__body" src="./images/monatik.jpg" alt="">
        </picture>
          <h2 class="picture___title">MONATIK</h2>
          <p class="picture____text">2021-07-17</p>
          <p class="picture_____text-two">VDNH</p>
        </div>
      <!-- Другие посты... -->
  </main>
  <footer class="">
      <p class="">Подвал сайта</p>
  </footer>
</body>
