<body class="background">
  <header>
      <h1 class="title"> FIND BEST EVENTS 
      AROUND THE WORLD</h1>
      <nav class="input_place">
          <input type="search" placeholder="Start searching" class="search">
          <input type="search" placeholder="Choose country" class="search">
      </nav>
  </header>
  <main class="container">
      <div>
          <h2>Заголовок поста 1</h2>
          <p>Содержимое поста 1...</p>
        </div>

      <div>
          <h2>Заголовок поста 2</h2>
          <p>Содержимое поста 2...</p>
        </div>

        <div>
          <h2>Заголовок поста 1</h2>
          <p>Содержимое поста 1...</p>
        </div>
      <div>
          <h2>Заголовок поста 2</h2>
          <p>Содержимое поста 2...</p>
        </div>
      <!-- Другие посты... -->
  </main>
  <footer>
      <p>Подвал сайта</p>
  </footer>
</body>
